@import "component/top-bar.css";
@import "screen/index.css";

:root {
  --orange: #ff8a3d;
  --horizontal-space: 15px;
  --main-border: 1px solid rgba(0, 0, 0, 0.3);
  --gray: rgba(0, 0, 0, 0.5);
  --margin-text: 110px;
}

body {
  height: 1000vh;
  margin: 0px;
}
